<h1>La Iglesia de Jesucristo</h1>
<h2>Acerca del Sistema "Catálogo de Cuentas"</h2>

<div>
  <p><strong>Propósito: </strong> (por definir)</p>
  <p><strong>Alcance: </strong> (por definir)</p>
</div>

<hr />
<div>
  <h5>Información del Sistema</h5>
  <p>
    Versión MicroServicio:
    <a
      href="https://raw.githubusercontent.com/javiertmezac/catalog-counts/main/CHANGELOG.md"
      >v2.0.0-beta</a
    >
    / Fecha liberación: Julio 3, 2022
  </p>
  <p>
    Versión Página Web:
    <a
      href="https://raw.githubusercontent.com/javiertmezac/catalog-counts-web/main/changelog.md"
      >v1.1.0-beta</a
    >
    / Fecha liberación: Julio 3, 2022
  </p>
  <p>
    Desarrollador: Javier T Meza C (javiermeza.cazarez@gmail.com) / tel
    6641648987
  </p>
</div>
