<div class="card mb-2">
    <div class="card-header">
        <h2>
            <strong>
                {{ pageTitle }} : {{ branch.name }}
            </strong>
        </h2>
    </div>

    <div class="card-body">
        <div class="row mb-2">
            <label class="col-md-2 col-form-label">Dirección:</label>
            <div class="col-md-8">
                {{ branch.address}}
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-md-2 col-form-label">Fecha Registro en el Sistema:</label>
            <div class="col-md-8">
                {{ branch.registration | date: "medium" }}
            </div>
        </div>

    </div>

</div>

<div class="card">
    <div class="card-header">
        <h2>Saldo Inicial</h2>
    </div>
    <div *ngIf="branch.initialAmount.amount">
        <div class="card-body">
            <div class="row">
                <p> {{ branch.initialAmount.amount}} </p>
                <p> {{ branch.initialAmount.registration | date: "medium"}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="!branch.initialAmount.amount">
        <div class="card-body">
            <div class="row">
                <form novalidate (ngSubmit)="saveBranchInitialAmount()" [formGroup]="branchInitialAmountForm">
                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label" for="amountId">Cantidad:</label>
                        <div class="col-md-8">
                            <input class="form-control" id="amountId" type="text" placeholder="Cantidad (requerido)"
                                formControlName="amount" [ngClass]="{
              'is-invalid':
                (branchInitialAmountForm.get('amount')?.touched ||
                  branchInitialAmountForm.get('amount')?.dirty) &&
                !branchInitialAmountForm.get('amount')?.valid
            }" />
                            <span class="invalid-feedback">
                                <span *ngIf="branchInitialAmountForm.controls['amount'].errors?.min">
                                    Solo cantidades positivas
                                </span>
                                <span *ngIf="branchInitialAmountForm.controls['amount'].errors?.pattern">
                                    Solo número son permitidos
                                </span>
                                <span *ngIf="branchInitialAmountForm.controls['amount'].errors?.required">
                                    Cantidad Requerida
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label" for="cceId">Catálogo de Cuentas:</label>
                        <div class="col-md-8">
                            <data> 0.1 - Monto Inicial de Registro</data>
                        </div>
                    </div>

                    <div class="form-group row mb-2">
                        <div class="offset-md-2 col-md-4">
                            <button class="btn btn-primary mr-3" style="width: 100px" type="submit" [title]="
              branchInitialAmountForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            " [disabled]="!branchInitialAmountForm.valid">
                                Guardar
                            </button>
                            <button class="btn btn-outline-secondary mr-3" style="width: 100px" type="button"
                                title="Cancel your edits" [routerLink]="['/cc']">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>