<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoggedIn$ | async">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="cc">
      <img src="../assets/tcojc_spanish_logo_gold.png" width="150" height="35" class="d-inline-block align-top">
      Catálogo de Cuentas
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cc">Movimientos</a>
        </li>

        <li class="nav-item" *ngIf="userDetails">
          <a class="nav-link active" aria-current="page"
            [routerLink]="['/mision', userDetails.defaultBranch, 'report']">Reportes</a>
        </li>

        <li class="nav-item" *ngIf="branchDetails">
          <a class="nav-link active" aria-current="page" [routerLink]="['/mision', branchDetails.id]"> Detalles Misión </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Acerca de!</a>
        </li>

        <li class=" nav-item dropdown" *ngIf="userDetails">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuario: <strong>{{ userDetails.username }}</strong>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item disabled">Rol: {{ userDetails.roles }}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">Salir!</a></li>
          </ul>
        </li>
      </ul>

      <div class="d-flex">
        <label class="col-form-label me-2"><strong>Cuenta:</strong></label>
        <div class="" *ngIf="userDetails">
          <select class="form-control w-100" [(ngModel)]="userDetails.defaultBranch" name="defaultBranchId"
            (change)="changeDefaultBranch($event)">
            <option *ngFor="let branch of userDetails.branches" [value]="branch">{{ branch }}</option>
          </select>
        </div>
      </div>

    </div>
  </div>
</nav>



<div style="padding: 1.5%">
  <router-outlet></router-outlet>
</div>