.description {
  color: black;
  font-weight: bolder;
  background-color: #f8e690;
  text-align: center;
}

.description-child {
  color: black;
  background-color: #f2eccc;
  text-align: right;
  font-size: small;
}

.amount-detail {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  text-align: right;
}

.amount-detail-child {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  text-align: left;
  font-size: small;
}

.incomes > div {
  margin-bottom: 3px;
}

.expenses > div {
  margin-bottom: 3px;
}
