<div
  class="alert alert-warning"
  *ngIf="userDetails && userDetails?.defaultBranch == 0"
>
  Usuario {{ userDetails?.username }} no está asignado a una Misión
</div>

<div *ngIf="userDetails?.defaultBranch != 0">
  <div>
    <h1>Historial Catálogo de Cuentas</h1>

    <div *ngIf="currentPeriod">
      <div *ngIf="displayConfirmationAlert">
        <div class="alert alert-info" style="margin-bottom: 0%">
          <h4>PERIODO '{{ currentPeriod.description }} confirmado'</h4>
        </div>
      </div>
      <div *ngIf="displayCatalogCountAlert">
        <div class="alert alert-danger" style="margin-bottom: 0%">
          <h4>
            PERIODO '{{ currentPeriod.description }}'
            <br />
            ALERTA: recuerda terminar tu captura de registros a más tardar el
            día 7!
          </h4>
        </div>
        <div class="alert alert-success">
          <div class="row">
            <p class="col-8">
              <strong> Favor de confirmar al finalizar tu captura! </strong>
            </p>
            <button
              class="col-4 btn btn-sm btn-outline-primary"
              (click)="confirmPeriod()"
            >
              Confirmar!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button
      class="btn btn-outline-secondary"
      routerLink="/cc/0/edit"
      *ngIf="hasWriteAccess"
    >
      + registro catálogo
    </button>
  </div>

  <div class="alert alert-warning" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div *ngIf="catalogCounts.length == 0 && isLoadingCatalogCounts == false">
    <h2>No existen registros!</h2>
    <h4>Capturar nuevo registro!</h4>
  </div>
  <div *ngIf="isLoadingCatalogCounts">
    <h4>Cargando lista...</h4>
  </div>

  <table class="table table-hover" *ngIf="catalogCounts.length">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Fecha Registro (yyyy-MM-dd)</th>
        <th>Número de Cuenta</th>
        <th>Cantidad</th>
        <th>Detalles</th>
        <th>Saldo</th>
        <th *ngIf="hasWriteAccess"></th>
      </tr>
    </thead>
    <tbody *ngIf="catalogCounts.length > 0">
      <tr *ngFor="let cc of catalogCounts">
        <td>{{ cc.id }}</td>
        <td>
          {{ cc.registrationDate | date: "long" }}
        </td>
        <td>{{ cc.catalogCountEnum }}</td>
        <td>{{ cc.amount | currency }}</td>
        <td style="max-width: 500px">{{ cc.details }}</td>
        <td>{{ cc.total | currency }}</td>
        <td>
          <div class="row" *ngIf="hasWriteAccess && cc.editable">
            <button
              class="col-lg-6 col-md-12 col-sm-12 btn btn-sm btn-outline-secondary"
              [routerLink]="['/cc', cc.id, 'edit']"
            >
              editar
            </button>
            <button
              class="col-lg-6 col-md-12 col-sm-12 btn btn-sm btn-outline-danger"
              (click)="deleteCatalogCount(cc)"
            >
              eliminar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
