<div>
  <div>
    <h1>Historial Catálogo de Cuentas</h1>
  </div>

  <div>
    <button
      class="btn btn-outline-secondary"
      routerLink="/cc/0/edit"
      *ngIf="hasWriteAccess"
    >
      + registro catálogo
    </button>
  </div>

  <div class="alert alert-warning" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div *ngIf="catalogCounts.length == 0 && userDetails?.defaultBranch != 0">
    <h4>Cargando Lista ...</h4>
  </div>

  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Fecha Registro (yyyy-MM-dd)</th>
        <th>Número de Cuenta</th>
        <th>Cantidad</th>
        <th>Detalles</th>
        <th>Saldo</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="catalogCounts.length > 0">
      <tr *ngFor="let cc of catalogCounts">
        <td>{{ cc.id }}</td>
        <td>{{ cc.registrationDate | date: "long" }}</td>
        <td>{{ cc.catalogCountEnum }}</td>
        <td>{{ cc.amount }}</td>
        <td>{{ cc.details }}</td>
        <td>{{ cc.total }}</td>
        <td>
          <button
            class="btn btn-sm btn-outline-secondary"
            [routerLink]="['/cc', cc.id, 'edit']"
          >
            editar
          </button>
        </td>
        <td>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="deleteCatalogCount(cc)"
          >
            eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div
    class="alert alert-warning"
    *ngIf="catalogCounts.length == 0 && userDetails?.defaultBranch == 0"
  >
    <h4>No hay registros!</h4>
  </div>
</div>
