<div class="card">
  <div class="card-header">
    <h3>
      <strong>
        {{ pageTitle }}
      </strong>
    </h3>
  </div>

  <div class="card-body">
    <form
      novalidate
      (ngSubmit)="saveCatalogCount()"
      [formGroup]="catalogCountForm"
    >
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="amountId">Cantidad:</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="amountId"
            type="text"
            placeholder="Cantidad (requerido)"
            formControlName="amount"
            [ngClass]="{
              'is-invalid':
                (catalogCountForm.get('amount')?.touched ||
                  catalogCountForm.get('amount')?.dirty) &&
                !catalogCountForm.get('amount')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="catalogCountForm.controls['amount'].errors?.required">
              Cantidad Requerida
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="detailsId">Detalles:</label>
        <div class="col-md-8">
          <textarea
            class="form-control"
            id="detailsId"
            placeholder="Detalles"
            formControlName="details"
            [ngClass]="{
              'is-invalid':
                (catalogCountForm.get('details')?.touched ||
                  catalogCountForm.get('details')?.dirty) &&
                !catalogCountForm.get('details')?.valid
            }"
          ></textarea>
          <span class="invalid-feedback">
            <span *ngIf="catalogCountForm.controls['details'].errors?.required">
              Detalles son requeridos
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="cceId"
          >Catalogo de Cuentas:</label
        >
        <div class="col-md-8">
          <select
            id="cceId"
            formControlName="catalogCountEnum"
            class="form-control"
          >
            <option [ngValue]="" disabled selected>Seleccionar Catalogo</option>
            <option *ngFor="let e of ccEnums" [ngValue]="e">
              {{ e.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="registrationId"
          >Registro:</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="registrationId"
            type="date"
            formControlName="registrationDate"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            style="width: 100px"
            type="submit"
            [title]="
              catalogCountForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!catalogCountForm.valid"
          >
            Guardar
          </button>
          <button
            class="btn btn-outline-secondary mr-3"
            style="width: 100px"
            type="button"
            title="Cancel your edits"
            [routerLink]="['/cc']"
          >
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
